@CHARSET "UTF-8";

body {
	font-family: font-family :         Georgia, "Times New Roman", Times,
		serif;
	font-size: 12px;
}

a {
	text-decoration: none;
	background: transparent;
}

a:hover {
	background: transparent;
	color: #003d4c;
	text-decoration: none;
}

input,textarea {
	clear: both;
	font-size: 12px;
	padding: 2px;
	width: auto;
}

label {
	display: inline;
}

#container {
	margin: 0 auto;
	width: 970px;
}

#header {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#header .logo,#header .ad {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 80px;
	text-align: center;
	line-height: 80px;
}

#header .logo {
	float: left;
	width: 200px;
	border: 1px solid #cccccc;
}

#header .ad {
	float: right;
	width: 750px;
	border: 1px solid #cccccc;
}

#content {
	background: #fff;
	clear: both;
	color: #333;
	padding: 0;
}

#navigation {
	background: #fff;
	clear: both;
	height: 30px;
	border: 1px solid #cccccc;
}

.wrap_block {
	background: #fff;
	margin-top: 10px;
	border: 1px solid #cccccc;
}

.block_title {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #ccc;
	height: 20px;
	line-height: 20px;
	border: 1px solid #cccccc;
}

.block_title .title {
	float: left;
}

.block_title .rss {
	float: right;
}

.block_title .rss a {
	background: url(../img/icon_rss.gif) no-repeat left -3px;
	padding-left: 20px;
}

#footer {
	text-align: center;
}

.red_bold {
	color: red;
	font-weight: bold;
}

/* 导航栏相关 */
#cv_type_menu ul {
	float: left;
	list-style: none;
	margin: 0px;
}

#cv_type_menu ul li {
	float: left;
	display: block;
	line-height: 30px;
	margin: 0 10px
}

.separatorDiv {
	width: 1px;
	height: 28px;
	background: #999
}